body {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 0.8em;
}
h1 {
  font-size: 3em;
  text-align: center;
}
table.report-stats {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left:auto;
  margin-right:auto;
}
table.report-stats td, th {
  border: 1px solid gray;
  padding: 10px;
}
table.report-stats tr.header {
  background-color: #66CCEE;
}
table.report-stats tr.footer {
  background-color: grey;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.info {
  font-style: italic;
}
.float-right {
  float: right;
}
.failed {
  background-color: red;
}
.passed {
  background-color: green;
}
.skipped {
  background-color: rgb(19, 47, 148);
}
.error-message {
  padding: 20px;
  background-color: darkred;
  font-style: italic;
}
.error-message-line {

}
div.results {
  padding-left: 50px;
  padding-right: 50px;
}
div.feature-header {
  padding: 10px;
  font-weight: bold;
}
div.feature {
  padding: 10px;
  border-color: white;
}
div.scenario {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
div.scenario-header {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}
div.steps {
  padding-top: 10px;
  padding-left: 10px;
}
div.step {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
